@page
@model UserManagementModel

<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua8m+0f/pF5fP2PxUHR4Z9J3s7p5M2Qp6hq1Umz5V7ZqD9d4PumpA4J" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Player ID</th>
                    <th>First Name</th>
                    <th>Phone Number</th>
                    <th>Country</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.PlayerId</td>
                        <td>@user.FirstName</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Country</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="userId" value="@user.PlayerId" />
                                <div class="form-row align-items-center">
                                    <div class="col-md-4">
                                        <select name="column" class="form-control">
                                            <option value="Id">Id</option>
                                            <option value="FirstName">First Name</option>
                                            <option value="PhoneNumber">Phone Number</option>
                                            <option value="Country">Country</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="newValue" class="form-control" placeholder="New Value" />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" name="action" value="edit" class="btn btn-danger btn-sm">Edit</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" class="d-flex align-items-center justify-content-center">
                                <input type="hidden" name="userId" value="@user.PlayerId" />
                                <button type="submit" name="action" value="delete" class="btn btn-danger btn-sm rounded-circle">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
